<div ng-controller="clientWaitingController">
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Assignment</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Waiting Page</a></li>
    </ul>
    <!--<ul class="nav navbar-nav navbar-right">
      <li><a href="#" ng-click="user_logout()"><span></span> Logout</a></li>
    </ul>-->
  </div>
</nav>
<h1>Hi {{model_data.name}} ,</h1><br/>
<h4>Request is submitted to Admin, Please wait here until Admin confirm or reject the login request<h4>

</div>
